{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">📊 Dashboard</h2>

<div class="row">

    <div class="col-md-3">
        <div class="card text-bg-primary mb-3">
            <div class="card-body">
                <h5>Total Medicines</h5>
                <h2>{{ total }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-bg-warning mb-3">
            <div class="card-body">
                <h5>Low Stock</h5>
                <h2>{{ low_stock }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-bg-danger mb-3">
            <div class="card-body">
                <h5>Out of Stock</h5>
                <h2>{{ out_of_stock }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-bg-success mb-3">
            <div class="card-body">
                <h5>Inventory Value</h5>
                <h2>₹{{ inventory_value }}</h2>
            </div>
        </div>
    </div>

</div>

<h3 class="mt-5">Recent Medicines</h3>

<table class="table table-bordered">

    <thead class="table-primary">

    <tr>
        <th>Medicine</th>
        <th>Company</th>
        <th>Quantity</th>
    </tr>

    </thead>

    <tbody>

    {% for medicine in medicines %}

    <tr>

        <td>{{ medicine.medicine_name }}</td>
        <td>{{ medicine.company }}</td>
        <td>{{ medicine.quantity }}</td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}
